.feedback-results-container {
display: flex;
 flex-direction: column;
  gap: 30px; min-width: 800px;
   padding: 20px;
    background-color: white;

}
.feedback-results-container {
    display: flex;
     gap: 20px;
     width: 100px;
     }

.like-dislike-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100;
}

.result {
    fontn-size: 30px;
    font-weight: bold;
    
}